{{define "footer"}}

    <h2>Jobs</h2>
    <p>Looking for a career upgrade?</p>
    <div id="jobs">
      <a href="https://astro.netlify.com/automattic"><img src="https://astro.netlify.com/static/automattic.png"></a>
      <a href="https://astro.netlify.com/segment"><img src="https://astro.netlify.com/static/segment.png"></a>
      <a href="https://astro.netlify.com/auth0"><img src="https://astro.netlify.com/static/auth0.png"/></a>
    </div>

    <script src="https://opencollective.com/apex/banner.js"></script>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/json.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/javascript.min.js"></script>
    <script src="public/app.js"></script>
  </body>
</html>
{{end}}
