{{define "index"}}
  {{ $path := .Docs }}
  {{template "header" . }}
    <p>
      Apex lets you build, deploy, and manage AWS Lambda functions with ease. With Apex you can use
      languages that are not natively supported by AWS Lambda, such as Golang. A variety of workflow
      related tooling is provided for testing functions, rolling back deploys, viewing metrics, tailing
      logs, hooking into the build system and more.
    </p>
    {{range .Pages}}
      <h1 id="{{.Name | slug}}">{{.Name}}</h1>
      {{printf "%s/%s" $path .File | readfile | markdown | noescape}}
    {{end}}
  {{template "footer"}}
{{end}}
